
.head-contain {
  display: grid;
  height: 10vw;
  width: 100%;
  grid-template-columns: 35% 35% 30%;
  align-items: center;
  font-size: 1.2vw;
}

#big-t-logo {
  width: 24vw;
  height: 7vw;
  margin-left: 1vw;
  grid-column: 1;
}

.head-links {
  display: grid;
}

.head-links p {
  grid-row: 1;
  transition: all 0.2s ease;
}

.head-links > p:hover {
  text-decoration: underline;
}

.head-links > p:active {
  color: #3b3b3b;
  text-decoration: none;
}

.head-r-ui {
  display: grid;
  grid-column: 3;
  align-items: center;
  justify-items: center;
  height: 3vw;
}

#head-search {
  grid-column: 1;
}

#login-btn {
  display: grid;
  align-items: center;
  justify-content: center;
  border: 2px solid #3b3b3b;
  border-radius: 1vw;
  padding: 0.4vw 1.2vw;
  grid-column: 2;
  transition: all 0.1s ease;
}

#login-btn:hover {
  background-color: #3b3b3b;
}

#login-btn:hover > p{
  color: #ffffff;
}

#login-btn:active {
  background-color: initial;
}

#login-btn:active > p{
  color: initial;
}

#lisu {
  margin: 0;
  color: #3b3b3b;
}

#head-rule {
  border: 0;
  border-top: 1px solid black;
  grid-column: 1 / 4;
  margin: 0 20vw 0 10vw;
}
