
.foot-contain {
  display: grid;
  height: 10vw;
  width: 100%;
  grid-template-rows: 5% 15% 25% 20% 5% 20% 15%;
  justify-items: center;
  align-items: center;
  font-size: 0.9vw;
  margin-top: 3vw;
}

.socials {
  grid-row: 3;
}

#inst, #twit {
  width: 1.6vw;
  margin: 0 0.2vw;
  padding: 0.4vw;
  border-radius: 0.6vw;
  transition: all 0.1s ease;
}

#inst:hover, #twit:hover {
  background-color: #2e2e2e15;
}

#inst:active, #twit:active {
  background-color: #ffffff;
}

#slogan {
  grid-row: 4;
}

#copyr {
  grid-row: 6;
}


#slogan, #copyr {
  margin: 0;
}

#foot-div-rule {
  grid-row: 5;
  height: 1px;
  border: 0;
  border-top: 1px solid black;
  width: 20vw;
  margin: 0;
}

#foot-rule {
  border: 0;
  border-top: 1px solid black;
  width: 70vw;
  margin-left: 10vw;
  grid-row: 1;
}